*{
    box-sizing: border-box;
}
.tm-content{
    position: relative;
    display: block;
    background-color:  white;
    max-width: 1800px;
    width: 100%;
    margin-top: 50%;
    margin-right: auto;
    margin-left: auto;
}

.title{
    text-align: center;
    padding: 20px;
    color: rgb(65, 69, 73);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
}



/* ----------- FOR FOOTER ------------ */
.footer{
    position: relative;
    overflow: hidden;
    display: block;
    background-color: rgb(19, 19, 19);
    width: 100%;
    /* top: 100vmin; */
}
.description, .contact, .Follow{
    float: left;
    padding: 20px 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 30%;
}
.description p, .contact p{
    padding: 16px 35px;
}
.description img{
    width: 50%;
}
.contact,.contact h1{
    margin-top: 1.5%;
    width: 40%;
}
.contact h2, .Follow{
    font-family: Lato, Helvetica, Arial, sans-serif;
}
.contact .P{
    text-align: left;    
}
.contact img{
    float: left;
    margin: 16px;
    width: 5%;
}
.Follow img{
    margin: 10px;
    float: left;
    width: 15%;
}
.location{
    margin-left: 20%;
}