
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.G-content{
    position: relative;
    width: 100%;
    max-width: 1800px;
    margin-top: 55%;
    margin-right: auto;
    margin-left: auto;
    font-family: sans-serif;
    font-size: 25px;
    color: rgb(70, 68, 68);
}
.Title{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    color: rgb(65, 69, 73);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
}
.pre-content{
    height: 300px;
    text-align: center;
    margin-top: 20px;
    padding-left:20% ;
    padding-right: 20%;
}
.image{
 
    margin-left:35% ;
    margin-right: 35%;
    margin-top: 50px;
}
.the_era{
    padding-left:15% ;
    padding-right: 15%;
 
}

/*------- for footer ---------*/

.footer{
    position: relative;
    overflow: hidden;
    display: block;
    background-color: rgb(19, 19, 19);
    width: 100%;
}
.description, .contact, .Follow{
    float: left;
    padding: 20px 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 30%;
}
.description p, .contact p{
    padding: 16px 35px;
}
.description img{
    width: 50%;
}
.contact,.contact h1{
    margin-top: 1.5%;
    width: 40%;
}
.contact h2, .Follow{
    font-family: Lato, Helvetica, Arial, sans-serif;
}
.contact .P{
    text-align: left;    
}
.contact img{
    float: left;
    margin: 16px;
    width: 5%;
}
.Follow img{
    margin: 10px;
    float: left;
    width: 15%;
}
.location{
    margin-left: 20%;
}
