
*{
    box-sizing: border-box;
}
.G-content{
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.text{
    display: block;
    text-align: center;
    padding: 50px;
    font-family: Lato, Helvetica, Arial, sans-serif;
}
.text p{
    padding: 45px;
    line-height: 1.6;
    font-size: 2.5vh;
    color: rgb(51, 51, 51);
}
.outer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content{
  display: flex;
  width: 100%;
  padding: 15px;
  background: #fff;
  /* border-radius: 12px; */
  position: relative;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}

.image-box {
  height: auto;
  width: 50%;
  border-radius: 12px;
  padding: 3px;

}
.image-box img {
  height: 100%;
  width: 100%;
  padding: 20px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 12px;
}

.content .details{
  width: 58%;
  margin: 10px 0 20px 20px;
  color: #092c3e;
  
}

.content .details .name{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.content .details p{
 font-size: 25px;
 margin-top: 6px;
 text-align: justify;
 line-height: 1.5;
 font-family: Lato, Helvetica, Arial, sans-serif;
}
.content button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  outline: none;
  border: 0.5 solid #092c3e;
  font-size: 17px;
  padding: 15px 30px;
  border-radius: 50px;
  color: #092c3e;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.content button:hover{
  transform: scale(0.97);
}

.btn{
    position: absolute;
    padding: 12px 25px 12px 25px;
    border-radius: 50px;
    border: 1px solid rgb(53, 53, 53);
    margin: 25px 0px;
}



/* .tm-content{
    position: relative;
    display: block;
    width: 100%;
    font-family: Lato, Helvetica, Arial, sans-serif;

}


.P1, .P2, .P3{
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
}
.G1, .G2, .G3{
    text-align: justify;
    padding: 5vmin 10vmin 15vmin 10vmin;
    font-size: 20px;
    margin: 30px;
    line-height: 1.5;
    width: 50%;
}
.image{
    width: 40%;
}
.image img{
    position: relative;
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.h1{
    margin-bottom: 20px;
}
.vl {
    border-left: 1px solid rgb(146, 146, 146);
    height: auto;
    margin: 0px 50px;
} */



.star{
    position: relative;
    
}
.rating {
    margin: auto;
    width: 400px;
}
.rating > * {
    float: right;
}
@-webkit-keyframes pulse {
    50% {
      color: #5e5e5e;
      text-shadow: 0 0 15px #777777;
    }
}
@keyframes pulse {
    50% {
        color: #5e5e5e;
        text-shadow: 0 0 15px #777777;
    }
}
.rating label {
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
}
  
.rating label::after{
    transition: all 0.4s ease-out;
    -webkit-font-smoothing:antialiased;
    position: absolute;
    content: "☆";
    color: #444;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 80px;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}
/* add hover effect */
.rating label:hover::after{
    color: #5e5e5e;
    text-shadow: 0 0 15px #5e5e5e;
}
.rating input{
    display: none;
}
.rating input:checked + label::after,
.rating input:checked ~ label::after{
    content: "★";
    color: #f9bf3b;
    text-shadow: 0 0 20px #f9bf3b;
      
}
@media (max-width:1200px) {
    .image-box{
        max-width: 100%;
    }

}







/* ---------- FOR FOOTER ----------- */
.footer{
    position: relative;
    overflow: hidden;
    display: block;
    background-color: rgb(19, 19, 19);
    width: 100%;
    top: 20vmin;
}
.description, .contact, .Follow{
    float: left;
    padding: 20px 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 30%;
}
.description p, .contact p{
    padding: 15px 35px;
}
.description img{
    width: 50%;
}
.contact,.contact h1{
    margin-top: 1.5%;
    width: 40%;
}
.contact h2, .Follow{
    font-family: Lato, Helvetica, Arial, sans-serif;
}
.contact .P{
    text-align: left;    
}
.contact img{
    float: left;
    margin: 15px;
    width: 5%;
}
.Follow img{
    margin: 10px;
    float: left;
    width: 15%;
}
.location{
    margin-left: 20%;
}





