
*{
    box-sizing: border-box;
}
.G-content{
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}
.tm-content{
    position: relative;
    display: block;
    width: 100%;
    font-family: Lato, Helvetica, Arial, sans-serif;

}
.text{
    display: block;
    text-align: center;
    font-family: Lato, Helvetica, Arial, sans-serif;
    padding: 50px;
}
.text p{
    padding: 30px;
    line-height: 1.6;
    text-align: justify;
    font-size: 2.5vh;
    color: rgb(51, 51, 51);
}

.P1, .P2, .P3{
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
}
.G1, .G2, .G3{
    text-align: justify;
    padding: 5vmin 10vmin 15vmin 10vmin;
    font-size: 20px;
    margin: 30px;
    line-height: 1.5;
    width: 50%;
}
.image{
    width: 40%;
}
.image img{
    /* padding: 10vmin 10vmin 15vmin 10vmin; */
    position: relative;
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.h1{
    margin-bottom: 20px;
}
.vl {
    border-left: 1px solid rgb(146, 146, 146);
    height: auto;
    margin: 0px 50px;
}

/* .G1 p, .G2 p, .G3 p{
    margin-top: 20px;
    font-size: 20px;
}
@media (max-width: 620px){
    .G1 p, .G2 p, .G3 p{
        margin-top: 10px;
        font-size: 2vw !important;
    }
} */

/* .G1 , .G3 {
    position: relative;
    left: 80vmin;
    background: white;
    border-radius: 10px;
    text-align: left;
    width: 50%;
    padding: 10vmin 10vmin 15vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Balsamiq Sans', cursive;
}
.G2{
    position: relative;
    left: 5vmin;
    background: white;
    border-radius: 10px;
    text-align: left;
    width: 50%;
    padding: 10vmin 10vmin 15vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Balsamiq Sans', cursive; 
}
/* .G3{
    top: 10vmin;
} */
.btn{
    position: absolute;
    outline: none;
    padding: 12px 25px 12px 25px;
    border-radius: 50px;
    border: 1px solid rgb(53, 53, 53);
    margin: 25px 0px;
    cursor: pointer;
}
.star{
    position: relative;
    
}
.rating {
    margin: auto;
    width: 400px;
}
.rating > * {
    float: right;
}
@-webkit-keyframes pulse {
    50% {
      color: #5e5e5e;
      text-shadow: 0 0 15px #777777;
    }
}
@keyframes pulse {
    50% {
        color: #5e5e5e;
        text-shadow: 0 0 15px #777777;
    }
}
.rating label {
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
}
  
.rating label::after{
    transition: all 0.4s ease-out;
    -webkit-font-smoothing:antialiased;
    position: absolute;
    content: "☆";
    color: #444;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 80px;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}
/* add hover effect */
.rating label:hover::after{
    color: #5e5e5e;
    text-shadow: 0 0 15px #5e5e5e;
}
.rating input{
    display: none;
}
.rating input:checked + label::after,
.rating input:checked ~ label::after{
    content: "★";
    color: #f9bf3b;
    text-shadow: 0 0 20px #f9bf3b;
      
}








/* ---------- FOR FOOTER ----------- */
.footer{
    position: relative;
    overflow: hidden;
    display: block;
    background-color: rgb(19, 19, 19);
    width: 100%;
    top: 20vmin;
}
.description, .contact, .Follow{
    float: left;
    padding: 20px 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 30%;
}
.description p, .contact p{
    padding: 15px 35px;
}
.description img{
    width: 50%;
}
.contact,.contact h1{
    margin-top: 1.5%;
    width: 40%;
}
.contact h2, .Follow{
    font-family: Lato, Helvetica, Arial, sans-serif;
}
.contact .P{
    text-align: left;    
}
.contact img{
    float: left;
    margin: 15px;
    width: 5%;
}
.Follow img{
    margin: 10px;
    float: left;
    width: 15%;
}
.location{
    margin-left: 20%;
}





